@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.load-information.searchbar-opt {
    float: right;
    width: 100%;
    justify-content: end;
}

.load-information.searchbar-opt .more-opt {
    width: auto;
}


/* pop up css */

.form-loadinfo h2 {
    text-align: center;
}

.form-loadinfo .origanlTotls-wraper {
    display: flex;
    justify-content: space-between;
}

.modal-ui-same.form-loadinfo {
    width: 1280px;
    background-color: white;
    font-family: 'Roboto';
    margin: 0 auto;
    position: relative;
    top: 0px;
    right: 69%;
    padding-bottom: 60px;
}

.modal-ui-same.form-loadinfo .modal-header {
    display: unset !important;
    text-align: center;
}

.form-loadinfo .orignal-heading {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0px;
}

.form-loadinfo h2 {
    text-align: center;
    border-bottom: 2px solid #8080806b;
    padding: 20px 0px;
    margin-bottom: 0px;
}

.form-loadinfo .table-wraper {
    border-right: 2px solid #8080806b;
    border-bottom: 2px solid #8080806b;
    margin-bottom: 20px;
}

.form-loadinfo .heading-wraper {
    background-color: #80808029;
}

.form-loadinfo .origanlTotls-wraper {
    padding: 10px;
}

.form-loadinfo table {
    width: 100%;
}

.form-loadinfo table th {
    height: 50px;
    background-color: #e1d6d633;
    border-bottom: 1px solid #80808033;
}

.form-loadinfo table td {
    height: 48px;
    border-bottom: 1px solid #80808033;
}

.modal-loadinfo .modal-dialog {
    max-width: 1008px !important;
    margin: 1.75rem auto;
}

.form-loadinfo .bottom-btn button {
    border: none;
    /* background-color: lightblue; */
    height: 50px;
    width: 100%;
    border-radius: 30px;
}
.fl-bx {
    float: left;
    width: 165px;
    height: 90px;
    margin: 0px;
    border-right: 1px solid #d4d7d4;
    border-bottom: 1px solid #d4d7d4;
    text-align: center;
}
/* load info css */
.infoRow {
    max-width: 736px;
    margin: 0 auto;
    padding-top: 30px !important;
  }
  .infoRow  button {
    height: 44px !important;
  }
  