<select class="form-control"  id="customerId"
required
[(ngModel)]="customerId" name="customerId" (change)="getAllStoreByCustomerId(customerId)">
<option *ngFor="let customer of customers" [value]="customer.id"  >{{customer.name}}</option>
</select>
<select class="form-control"  id="storeId"
required
[(ngModel)]="storeId" name="storeId">
<option *ngFor="let store of stores" [value]="store.id">{{store.name}}</option>
</select>

<select class="form-control"  id="year"
required [(ngModel)]="stockyear" name="year">
<option *ngFor="let yeardate of years" [value]="yeardate">{{yeardate.value}}</option>
</select>
<label class="btn btn-default p-0">
    <input type="file" (change)="selectFile($event)" />
  </label>
  <button class="btn btn-success btn-sm"  (click)="upload()">
    Upload
  </button>
 