<section class="inner-content inner-pageview wkloads">
    <div class="card">
        <div class="card-header">

            <div class="customer-add btn-header">
                <ul class="right-opt">
                    <li><a class="prof-icon"><span class="prof_alpha">U</span></a></li>
                </ul>

            </div>

        </div>
        <div class="card-body">
            <div class="content-body">
                <div class="workorders-view">
                    <div class="workorders-head-emp"></div>
                    <div class="workorders-main">
                        <div class="tabs-wkload">
                            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                <li *ngFor="let id of tabs" [ngbNavItem]="id">
                                    <a ngbNavLink>
                                    Tab {{ id }}
                                    <span class="close position-relative pl-2 font-weight-light" (click)="close($event, id)">×</span>
                                  </a>
                                    <ng-template ngbNavContent>
                                        <div class="resultwrapper-tab">
                                            <div class="content-upload-view">

                                                <div class="load-file">
                                                    <div class="icon-svg-file">
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cloud-upload-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-cloud-upload-alt fa-w-20 fa-2x"><path fill="currentColor" d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" class=""></path></svg>
                                                    </div>
                                                    <label class="btn btn-default p-0">
                                                        <input type="file" (change)="selectFile($event)" />
                                                      </label>
                                                    <button class="btn btn-success btn-sm" (click)="upload()">Upload</button>
                                                    <!-- <a href="">
                                                        <span class="plus-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-2x"><path fill="currentColor" d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z" class=""></path></svg></span>Load</a> -->
                                                </div>
                                                <div class="noti-file-upload" *ngIf="fileUploading">
                                                    <p><span class="loadr">
                                                        <div class="svg-loader">
                                                        <svg class="svg-container" height="100" width="100" viewBox="0 0 100 100">
                                                            <circle class="loader-svg bg" cx="50" cy="50" r="45"></circle>
                                                            <circle class="loader-svg animate" cx="50" cy="50" r="45"></circle>
                                                        </svg>
                                                    </div>
                                                </span>File upload successfully/with errors <a href="">see errors</a></p>
                                                </div>
                                                <div class="file-upload-results" *ngIf="fileUploading">
                                                    <p class="record-uploa">Total of records uploaded: <span class="total-upload-value">1,985</span></p>
                                                    <p class="record-failed">Total of records failed: <span class="total-failed-value">1,585</span></p>
                                                </div>

                                                <div class="print-btn-report" *ngIf="fileUploading">
                                                    <a href="">Print report</a>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href (click)="add($event)">...</a>
                                </li>
                            </ul>

                            <div [ngbNavOutlet]="nav" class="mt-2"></div>
                        </div>
                    </div>
                    <div class="workorders-foot-emp"></div>
                </div>
            </div>
        </div>

    </div>

</section>