<section class="inner-content inner-pageview">
    <div class="card">        
        <div class="card-body">
            <div class="content-body">
                <table class="table table-striped table-ui-same" id="datatableexample" *ngIf="stockList">
                    <thead>
                        <tr>
                            <!-- <th>#Registros</th> -->
                            <th>#SKU</th>
                            <th>#Barcode</th>
                            <th>Description</th>
                             <th>Department</th> 
                            <th>Unity</th>
                            <!-- <th>Total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr *ngFor="let stock of stockList| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                            <!-- <td>{{i+1}}</td> -->
                            <!-- <td>{{customer.name}}</td> -->
                            <td>{{stock.sku}}</td>
                            <td>{{stock.barcode}}</td>
                            <td>{{stock.description}}</td>
                            <td>{{stock.department}}</td>
                            <td>{{stock.unity}}</td>
                            <!-- <td>{{stock.total}}</td> -->
                            <!-- <ul class="btn-tble">
                                    <li><button type="button" class="btn btn-primary" (click)="manageUser(customer.id)">Manage User</button></li>
                                    <li><button type="button" class="btn btn-primary" (click)="manageStore(customer.id)">Manage Store</button></li>
                                </ul> -->
                        </tr>
                    </tbody>
                </table>
                <div class="pagination-ui">
                    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
                </div>

            </div>
        </div>

    </div>

</section>

