<div class="sidebar-links" *ngIf="isLoggedIn">

    <div class="logo_black-tomi">
        <img src="assets/login/tomi_logo_black.png" />
    </div>
    <select class="form-control">
        <option>Ordern de trabaio</option>
        <option>Ordern de trabaio</option>
        <option>Ordern de trabaio</option>
    </select>
    <div class="listing">
        <h3 class="head-listing">Antes de empezar</h3>
        <ul class="list-sidebar">
            <li><a href="#">Apartados</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Departamentos</a></li>
            <li><a href="#">Existencias</a></li>
            <li><a href="#">Master Fiile</a></li>
            <li><a href="#">Variacion por departamento</a></li>
        </ul>

    </div>