<div class="sidebar-links" *ngIf="isLoggedIn">

    <div class="logo_black-tomi">
        <img src="assets/login/tomi_logo_black.png" />
    </div>
    <div class="order-selections">
        <h3>job order</h3>
        <select class="form-control">
        <option>Customer</option>
        <option>Ordern de trabaio</option>
        <option>Ordern de trabaio</option>
    </select>
        <select class="form-control">
        <option>Store</option>
        <option>Ordern de trabaio</option>
        <option>Ordern de trabaio</option>
    </select>
        <select class="form-control">
        <option>Date</option>
        <option>Ordern de trabaio</option>
        <option>Ordern de trabaio</option>
    </select>
    </div>

    <div class="listing">
        <h3 class="head-listing">Antes de empezar</h3>
        <ul class="list-sidebar">
            <li><a href="#"><span class="list-ico icon5"><img src="assets/sidebar/icon5.png"/></span>Master File</a></li>
            <li><a href="#"><span class="list-ico icon5"><img src="assets/sidebar/icon4.png"/></span>Stocks</a></li>
            <li><a href="#"><span class="list-ico icon5"><img src="assets/sidebar/icon7.png"/></span>Sales</a></li>
        </ul>

    </div>