button.voidBtn {
    margin: 0px 10px;
    margin: 0px 10px;
    background-color: #04acee;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
    float: right;
  }

  #read_more_right a{
    float:right;
    clear:right;
    align-items: center;
   
}
img{  
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-top: 10px;
  float: right;
  margin-right: 18px;
  
  }  
  .carddetails{
    width: 100%;
    margin-top: 10px;
    float: left;
  }
