<div class="searchbar-opt">
    <div class="Searchbar">
        <form>
            <div class="form-group search-bar">
                <input type="text" class="form-control" placeholder="Search..." />
                <span class="icon-search">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-search fa-w-16 fa-2x"><path fill="#000" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z" class=""></path></svg>
                </span>

            </div>
        </form>
    </div>
    <div class="more-opt">
        <ul class="opt-list-ranges">
            <li><a class="print-ico ico"><span class="svg-icon"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="print" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-print fa-w-16 fa-2x"><path fill="currentColor" d="M400 264c-13.25 0-24 10.74-24 24 0 13.25 10.75 24 24 24s24-10.75 24-24c0-13.26-10.75-24-24-24zm32-88V99.88c0-12.73-5.06-24.94-14.06-33.94l-51.88-51.88c-9-9-21.21-14.06-33.94-14.06H110.48C93.64 0 80 14.33 80 32v144c-44.18 0-80 35.82-80 80v128c0 8.84 7.16 16 16 16h64v96c0 8.84 7.16 16 16 16h320c8.84 0 16-7.16 16-16v-96h64c8.84 0 16-7.16 16-16V256c0-44.18-35.82-80-80-80zM128 48h192v48c0 8.84 7.16 16 16 16h48v64H128V48zm256 416H128v-64h256v64zm80-112H48v-96c0-17.64 14.36-32 32-32h352c17.64 0 32 14.36 32 32v96z" class=""></path></svg></span></a></li>
            <li><a class="group-ico ico" (click)="open(groupModal)"><span class="svg-icon"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="users" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg-inline--fa fa-users fa-w-20 fa-2x"><path fill="currentColor" d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z" class=""></path></svg></span></a></li>
            <li><a class="addplus-ico ico" (click)="open(mymodal)"><span class="svg-icon"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-2x"><path fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z" class=""></path></svg></span></a></li>

        </ul>
    </div>
</div>
<section class="inner-content inner-pageview">
    <div class="card">
        <!-- <div class="card-header">
            <h3>Sections</h3>
            <div class="customer-add btn-header">
                <ul class="right-opt">
                    <li class="ico_plus">
                        <a (click)="open(mymodal)">
                            <span class="plus-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-2x"><path fill="currentColor" d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z" class=""></path></svg></span>Load
                        </a>
                    </li>
                    
                    <li>
                        <div ngbDropdown class="d-inline-block">
                            <a class="prof-icon" ngbDropdownToggle aria-haspopup="true" aria-expanded="false"><span class="prof_alpha" >U</span></a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem (click)="onlogout()">Logout</button>
                              
                            </div>
                          </div>
                    </li>
                </ul>

            </div>

        </div> -->
        <div class="card-body">
            <div class="content-body">
                <table class="table table-ui-same" id="datatableexample" *ngIf="rangeList">
                    <thead>
                        <tr>
                            <!-- <th>#Registros</th> -->
                            <th>Name</th>
                            <th>Group</th>
                            <th>Tag from</th>
                            <!-- <th>Estado</th> -->
                            <th>Tag to</th>
                            <th>Deployment task</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                         <tr *ngFor="let range of rangeList| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                         <td>{{range.name}}</td>
                        <td>{{range.group}}</td>
                        <td>{{range.tagFrom}}</td>
                        <td>{{range.tagTo}}</td>
                        <td>miscellaneous</td>
                        <td>
                            <ul class="action-cell">
                                <li><a href="" class="edit-icoo"><span class="icon-cellaction "><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-pencil-alt fa-w-16 fa-2x"><path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" class=""></path></svg></span></a></li>
                                <li><a class="remove-icoo" (click)="deleteRange(range.id)"><span class="icon-cellaction "><svg aria-hidden="true" focusable="false" data-prefix="far"  data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" class=""></path></svg></span></a></li>
                            </ul>
                        </td>
                   
                        </tr> 
                    </tbody>
                </table>
                <div class="pagination-ui">
                   <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
                </div>

            </div>
        </div>

    </div>

</section>

<ng-template #mymodal let-modal>
    <div class="modal-ui-same form-ranges-add">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" class="close-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg></span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="rangeForm"  (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" formControlName="name" placeholder="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
                           
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" formControlName="group"  [ngClass]="{ 'is-invalid': submitted && f['group'].errors }">
                               <option value="">Group</option>
                               <option value="Group1">Group1</option>
                               <option value="Group2">Group2</option>
                            </select>
                     
                            <div *ngIf="submitted && f['group'].errors" class="invalid-feedback">
                                <div *ngIf="f['group'].errors['required']">Group is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="tags-from-to">
                            <li>
                                <div class="form-group">
                                    <input type="text" placeholder="Tag from" class="form-control" formControlName="tagFrom"  [ngClass]="{ 'is-invalid': submitted && f['tagFrom'].errors }">
                                    <!-- <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" /> -->
                                    <div *ngIf="submitted && f['tagFrom'].errors" class="invalid-feedback">
                                    <div *ngIf="f['tagFrom'].errors['required']">Tagfrom is required</div>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-group">
                                    <input type="text" placeholder="Tag to" class="form-control"  formControlName="tagTo" [ngClass]="{ 'is-invalid': submitted && f['tagTo'].errors }" >
                                    <!-- <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" /> -->
                                    <div *ngIf="submitted && f['tagTo'].errors" class="invalid-feedback">
                                    <div *ngIf="f['tagTo'].errors['required']">Tag to is required</div>
                                </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" formControlName="name" placeholder="Deployment task" class="form-control" />
                       
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3">
                    Save
                </button>
            </form>
        </div>
    </div>

</ng-template>


<ng-template #groupModal let-modal>
    <div class="modal-ui-same form-ranges-add">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Group <button class="btn btn btn-primary add-group" (click)="isAddGroup=!isAddGroup"><span class="svg-icon"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-2x"><path _ngcontent-iur-c124="" fill="currentColor" d="M368 224H224V80c0-8.84-7.16-16-16-16h-32c-8.84 0-16 7.16-16 16v144H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h144v144c0 8.84 7.16 16 16 16h32c8.84 0 16-7.16 16-16V288h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16z"></path></svg></span></button>
            </h4>
            
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" class="close-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg></span>
            </button>
        </div>
        <div class="modal-body">
         
            <form [formGroup]="groupForm"  *ngIf="isAddGroup" (ngSubmit)="onGroupSubmit()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" formControlName="name" placeholder="Name" class="form-control" [ngClass]="{ 'is-invalid': groupsubmitted && groupf['name'].errors }"/>
                           
                            <div *ngIf="groupsubmitted && groupf['name'].errors" class="invalid-feedback">
                                <div *ngIf="groupf['name'].errors['required']">Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3">
                    Save
                </button>
            </form>
            <div *ngIf="!isAddGroup" class="btn-upload-files">
            
            <table class="table table-ui-same"  id="datatableexample" *ngIf="rangeList">
                <thead>
                    <tr>
                        <!-- <th>#Registros</th> -->
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                
                     <tr *ngFor="let group of groupList| paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                     <td>{{group.name}}</td>
                    <td>
                        <ul class="action-cell">
                            <li><a href="" class="edit-icoo"><span class="icon-cellaction "><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-pencil-alt fa-w-16 fa-2x"><path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z" class=""></path></svg></span></a></li>
                            <li><a class="remove-icoo" (click)="deleteGroup(group.id)"><span class="icon-cellaction "><svg aria-hidden="true" focusable="false" data-prefix="far"  data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" class=""></path></svg></span></a></li>
                        </ul>
                    </td>
               
                    </tr> 
                </tbody>
            </table>
            <div class="pagination-ui" *ngIf="!isAddGroup" >
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
             </div>
        </div>
          
        </div>
    </div>

</ng-template>