<section class="inner-content inner-pageview">
    <div class="card">
        <div class="card-body">
            <div class="content-body">
                <table class="table table-striped table-ui-same" id="datatableexample" *ngIf="stockList">
                    <thead>
                        <tr>
                            <th>#SKU</th>
                            <th>#Department</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stock of stockList| paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                            <td>{{stock.sku}}</td>
                            <td>{{stock.departmentname}}</td>
                            <td>{{stock.date}}</td>
                            <td>{{stock.description}}</td>
                            <td>{{stock.total}}</td>
                        </tr>
                    </tbody>
                </table>
                <ngx-spinner class="custom-loader" type = "square-jelly-box" size = "medium" [fullScreen]="false" style="top:auto;">
                    <p style="color: white">Loading...</p>
                </ngx-spinner>
                <div class="pagination-ui">
                    <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls>
                </div>

            </div>
        </div>

    </div>

</section>

<ng-template #mymodal let-modal>
    <div class="modal-ui-same">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" class="close-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg></span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3">
                    Submit
                </button>

            </form>
        </div>
    </div>

</ng-template>