/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* W-logged header*/


/* spinner Css  */

.svg-loader {
    display: flex;
    position: relative;
    align-content: space-around;
    justify-content: center;
}

.loader-svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    stroke: #0099ff;
}

.loader-svg.bg {
    stroke-width: 10px;
    stroke: #e5e5e5;
}

.animate {
    stroke-dasharray: 242.6;
    animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

@keyframes fill-animation {
    0% {
        stroke-dasharray: 40 242.6;
        stroke-dashoffset: 282.6;
    }
    50% {
        stroke-dasharray: 141.3;
        stroke-dashoffset: 141.3;
    }
    100% {
        stroke-dasharray: 40 242.6;
        stroke-dashoffset: 0;
    }
}

span.loadr .svg-loader svg.svg-container {
    width: 38px;
}

.content-upload-view .noti-file-upload p {
    display: flex;
    align-items: center;
}

.content-upload-view .noti-file-upload p span.loadr {
    margin-right: 6px;
}

.content-upload-view .noti-file-upload a {
    margin-left: 6px;
}


/** LOGIN PAGE CSS */

.login-centerd form .invalid-feedback {
    position: absolute;
    font-family: 'Roboto';
    left: 15px;
    text-align: left;
    font-size: 13px;
}

.sidebar-layout {
    width: 100%;
    display: flex;
    height: calc(100vh - 114px);
}

.sidenav {
    height: 100%;
    width: 300px;
    background-color: #fcfcfc;
    transition: .5s;
    padding: 15px 15px 30px;
    border-right: 1px solid #eee;
}

.sidenav .sidebar-links {
    padding: 0px 0px;
}

.sidenav .sidebar-links ul.list-sidebar li a {
    text-decoration: none;
    color: #646566;
    padding: 6px 10px;
    display: block;
}

.sidenav .sidebar-links ul.list-sidebar li a:hover {
    cursor: pointer;
}

.sidenav .sidebar-links ul.list-sidebar {
    list-style-type: none;
    padding: 0;
}

.sidenav .sidebar-links ul.list-sidebar li {
    position: relative;
}

.main-content-inner {
    width: 100%;
}

.sidenav .sidebar-links ul.list-sidebar li a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 500;
}

span.ico svg {
    width: 10px;
}

.sidenav .logo_black-tomi {
    margin-bottom: 30px;
}

.sidenav select.form-control,.order-selections input {
    -webkit-appearance: listbox;
    padding-right: 20px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    height: 40px;
    color: #727272;
}

.sidenav .listing {
    margin-top: 20px;
}

.sidenav .listing h3.head-listing {
    font-size: 23px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #656667;
}

.sidenav .listing ul.list-sidebar li.reddot:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #ed1d23;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 14px;
}

.sidenav .listing ul.list-sidebar li.greendot:before {
    background: #18b432;
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 14px;
}


/* Main Content INNER */

.inner-pageview .card-header {
    display: flex;
    justify-content: space-between;
    min-height: 130px;
    position: relative;
    background: #fcfcfc;
}

.inner-pageview .card-header h3 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #111111;
    padding-top: 30px;
}

.inner-pageview .card-header ul.right-opt li span.plus-ico svg {
    width: 12px;
    margin-right: 4px;
}

.inner-pageview .card-header ul.right-opt li.ico_plus a {
    background: #308de2;
    color: #fff;
    padding: 6px 18px 5px;
    border-radius: 20px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 32px;
    font-size: 16px;
}

.inner-pageview .card-header ul.right-opt {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.inner-pageview .card-header ul.right-opt li.ico_plus a span.plus-ico {
    position: absolute;
    left: 14px;
    top: 5px;
}

.inner-pageview .card-header ul.right-opt li a.prof-icon {
    display: flex;
    width: 34px;
    height: 34px;
    position: relative;
}

.inner-pageview .card-header ul.right-opt li a.prof-icon span.prof_alpha {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 21px;
}

.inner-pageview .card-header ul.right-opt li a.prof-icon {
    background: #14528b;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    color: #fff;
    text-decoration: none;
}

.inner-pageview .card-header ul.right-opt li a.prof-icon {
    margin-left: 14px;
}

.inner-pageview .customer-add.btn-header {
    width: 200px;
    position: absolute;
    right: 40px;
    top: 40px;
}

section.inner-content.inner-pageview .card-body {
    padding: 0;
}

section.inner-content.inner-pageview .card-body .table-ui-same {
    margin: 0;
}

section.inner-content.inner-pageview .card-body .table-ui-same thead th {
    background: #fafafa;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

section.inner-content.inner-pageview .card-body .table-ui-same tbody tr td {
    padding: 11px 10px;
}

.content.full-view .sidebar-layout {
    height: 100%;
    display: block;
}

section.footer.w-logged {
    position: fixed;
    bottom: 0;
}


/* workorder css */

.order-selections h3 {
    font-family: 'Roboto';
    font-size: 18px;
    text-transform: capitalize;
    color: #6d6e6f;
    font-weight: 600;
}

.order-selections select {
    margin-bottom: 12px;
}


/* tabs Workorder CSS */

.workorders-view {
    width: 100%;
}

.workorders-view .workorders-head-emp {
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
}

.workorders-view .workorders-foot-emp {
    padding: 20px 0;
    border-top: 1px solid #dcdcdc;
}

section.inner-content.inner-pageview.wkloads .card {
    border-radius: 0px;
    border-left: none;
}

section.inner-content.inner-pageview.wkloads .workorders-main ul.nav-tabs {
    padding: 1px 2px;
}

section.inner-content.inner-pageview.wkloads .workorders-main ul.nav-tabs li.nav-item a {
    background: #fafafa;
    padding: 6px 20px;
    color: #0e0e0e;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

section.inner-content.inner-pageview.wkloads .workorders-main ul.nav-tabs li:not(:first-child) {
    margin-left: 3px;
}

.resultwrapper-tab {
    padding: 20px;
}

.lod-btn a span.plus-ico svg {
    width: 11px;
}

.content-upload-view .lod-btn a {
    background: #308de3;
    padding: 5px 5px 3px 13px;
    border-radius: 29px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lod-btn {
    max-width: 90px;
    width: 100%;
    margin-bottom: 80px;
}

.content-upload-view .lod-btn a span.plus-ico {
    position: absolute;
    left: 15px;
    top: 4px;
}

.content-upload-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    padding: 30px 15px 30px;
    min-height: 516px;
}

.content-upload-view .noti-file-upload {
    margin-bottom: 30px;
}

.content-upload-view p {
    font-weight: 500;
    color: #6d6e6f;
    font-size: 16px;
}

.content-upload-view p a {
    color: #ea583a;
}

.content-upload-view .file-upload-results {
    margin-bottom: 30px;
}

.content-upload-view .file-upload-results p {
    margin: 0 0 4px 0;
}

.content-upload-view .print-btn-report {
    margin-bottom: 40px;
}

.content-upload-view .print-btn-report a {
    background: #308de3;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding: 9px 20px 8px;
    border-radius: 20px;
    font-size: 16px;
}

.pagination-ui {
    border-top: 1px solid #dfdfdf;
    margin-top: 30px;
    padding: 4px 15px;
}

.pagination-ui ul.ngx-pagination {
    margin: 0;
}

.pagination-ui ul.ngx-pagination li.pagination-previous:before {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='chevron-left' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-chevron-left fa-w-8 fa-2x'%3E%3Cpath fill='%23c5c5c5' d='M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z' class=''%3E%3C/path%3E%3C/svg%3E");
    content: '';
    width: 14px;
    height: 20px;
    margin: 0;
}

.pagination-ui ul.ngx-pagination li {
    border: 1px solid #c5c5c5;
    padding: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 11px;
    cursor: pointer;
    margin: 0 2px;
}

.pagination-ui ul.ngx-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pagination-ui ul.ngx-pagination li.small-screen {
    display: none;
}

.pagination-ui ul.ngx-pagination li.pagination-next:after {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-chevron-right fa-w-8 fa-2x'%3E%3Cpath fill='%23c5c5c5' d='M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z' class=''%3E%3C/path%3E%3C/svg%3E");
    content: '';
    width: 14px;
    height: 20px;
    margin: 0;
}

li.disabled {
    cursor: default !important;
}

.pagination-ui ul.ngx-pagination li.current {
    border: 1px solid #2199e8;
    background: transparent;
    color: #2199e8;
}

.content.Vsidebar .sidebar-layout {
    height: 100%;
}

.content.Vsidebar .sidebar-layout .sidenav {
    height: revert;
}

.load-file {
    background: #f3f3f3;
    padding: 20px 20px 50px 20px;
    max-width: 500px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dotted #dddddd;
    border-radius: 5px;
}

.load-file label {
    max-width: 210px;
    text-align: center;
    margin: 0 0 15px 0;
}

.load-file button {
    background-color: #14528b;
    border: 1px solid #14528b;
    font-size: 15px;
    padding: 7px 20px;
}

.content-upload-view .load-file .icon-svg-file {
    background: #e7e7e7;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 22px 0;
}

.content-upload-view .load-file .icon-svg-file svg {
    width: 40px;
    color: #14528b;
}