<section class="inner-content inner-pageview">
    <div class="card">
        <div class="card-header">
            <h3>Apartados</h3>
            <div class="customer-add btn-header">
                <ul class="right-opt">
                    <li>
                        <a (click)="open(mymodal)">
                            <span class="plus-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-plus fa-w-12 fa-2x"><path fill="currentColor" d="M376 232H216V72c0-4.42-3.58-8-8-8h-32c-4.42 0-8 3.58-8 8v160H8c-4.42 0-8 3.58-8 8v32c0 4.42 3.58 8 8 8h160v160c0 4.42 3.58 8 8 8h32c4.42 0 8-3.58 8-8V280h160c4.42 0 8-3.58 8-8v-32c0-4.42-3.58-8-8-8z" class=""></path></svg></span>                            Cargar
                        </a>
                    </li>
                    <li><a class="prof-icon"><span class="prof_alpha">U</span></a></li>
                </ul>

            </div>

        </div>
        <div class="card-body">
            <div class="content-body">
                <table class="table table-striped table-ui-same" id="datatableexample">
                    <thead>
                        <tr>
                            <th>Archivo</th>
                            <th>#Registros</th>
                            <th>#Deptos</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- <tr *ngFor="let customer of customers; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{customer.name}}</td>
                            <td>
                                <ul class="btn-tble">
                                    <li><button type="button" class="btn btn-primary" (click)="manageUser(customer.id)">Manage User</button></li>
                                    <li><button type="button" class="btn btn-primary" (click)="manageStore(customer.id)">Manage Store</button></li>
                                </ul>


                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</section>

<ng-template #mymodal let-modal>
    <div class="modal-ui-same">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" class="close-ico"><svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-times fa-w-10 fa-2x"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg></span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                        <div *ngIf="f['name'].errors['required']">Name is required</div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3">
                    Submit
                </button>

            </form>
        </div>
    </div>

</ng-template>